# Supabase Configuration
SUPABASE_URL=https://kobmydlsqqtcttzlvtla.supabase.co
SUPABASE_KEY=sb_publishable_RlOdcs_hAbctv7arT4b8zA_vB8WVcMI

# JWT Secret Key (change in production!)
SECRET_KEY=alien-signals-secret-key-2226-hackathon
